text {
  font-size: 10px;
  text-anchor: middle;
  fill: #4f442b;
}
g > text.active {
  font-size: 30px;
}
circle {
  fill: #75739f;
  stroke: black;
  stroke-width: 1px;
}
circle.active {
  fill: #fe9922;
}
circle.inactive {
  fill: #c4b9ac;
}
